<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="login" *ngIf="!isLoggedIn()">
      <ion-icon name="key-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" *ngIf="isLoggedIn()">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>